body {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    color: #2d3c49;
    margin: 0;
}

header {
    font-size: 50px;

}

header .name {
    float: right;
    margin-right: 30px;
}


header .name h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

header .name h2 {
    font-size: 16px;
    text-align: right;
    margin-top: 0;
}
.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}


header .logo {
    float: left;
    height: 40px;
    width: auto;
    margin: 20px 10px;
}

.greyline {
    color: #7d97ad;
    border-width: 2px;
    border-style: solid;
}

.image {
    margin: 0;
}

.cover-img {
    height: 50%;;
    width: 100%;
    box-sizing: border-box;
}

.featured {
    width: 100%;
    min-width: 350px;
    margin-bottom: 40px;
}

.featured h3{
    width: 220px;
    font-size: 30px;
    margin: auto;
    margin-top: 40px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.feat-img {
    height: 100%;
    margin: 1.5em auto 0 auto;
}

.feat-img img {
    height: 220px;
    width: 300px;
}

.feat-img h4 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
}
.feat-img p {
    width: 300px;
    text-align: center;
}

.clearfix {
    overflow: auto;
}

@media screen and (min-width: 680px) {
    header .name h1 {
        font-size: 40px;
    }

    header .name h2 {
        font-size: 24px;
    }

    header .logo {
        height: 100px;
        margin-left: 40px;
    }
}

@media screen and (min-width: 1080px) {
    body {
        width: 1080px;
        margin: auto;
    }
}
